# Python Built-In Functions

## Math & Number functions

### abs()

Absolute positive value of a number

In [14]:
abs(5)

5

In [13]:
abs(-5)

5

### sum()

Takes iterable, and optional start amount, and total it

In [11]:

sum([1,2,3])

6

In [10]:
sum([1,2,3], 10)

16

In [7]:
sum([1.6,2.2,9.51])

13.31

### round()

Take number, and round to a specified number of digits

In [3]:
round(10.2)

10

In [4]:
round(104.2351, 2)

104.24

## any() and all()

### all()

Takes iterable, returns true if all elements are truthy

Different examples using `all()` and list comprehension

In [48]:
all([0,1,2,3])

False

In [46]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [44]:
people = ["Charlie", "Casey", "Cody", "Carly", "Christina"]

all([name[0]=="C" for name in people])

True

In [42]:
people.append("Michael")

all([name[0]=="C" for name in people])

False

In [40]:
nums = [2, 60, 26, 18]

all([num % 2 == 0 for num in nums])

True

### any()

Different examples using `any()` and list comprehension

In [37]:
nums = [2, 60, 26, 18, 31]
any([num % 2 != 0 for num in nums]) # any odd?

True

Using a generator

In [34]:
people = ["Charlie", "Alex", "Mike", "Paul", "Christina"]

listcomp = [name[0]=="C" for name in people]
any(listcomp)

True

That list comp without abstraction into a list becomes a generator

In [29]:
(name[0]=="C" for name in people)

In [27]:
any(name[0]=="C" for name in people)

True

In [26]:
all(name[0]=="C" for name in people)

False

The above works well because you're not using it again, if you were, you'd store it into a variable as list comprehension.

Showing memory size differences:

In [22]:
import sys

print(f"generator: {sys.getsizeof(name[0]=='C' for name in people)} bytes")
print(f"list comprehension: {sys.getsizeof([name[0]=='C' for name in people])} bytes")

generator: 112 bytes
list comprehension: 120 bytes

## Exercise 64

In [16]:
def is_all_strings( thelist ):
    return all(type(item) is str for item in thelist)

In [17]:
is_all_strings(['1', '2', '3'])

True

In [18]:
is_all_strings(['1', '2', 3])

False

In [19]:
is_all_strings(['1', '2', ('one', 'two', 'three')])

False

## max() & min()

### max()

Pass an iterable and it'll return the largest result

In [ ]:
max(3,67,99)

Will base on alpha weight for strings

In [ ]:
max("one", "two", "three")

### min()

…is (obviously) the opposite of max()

In [ ]:
min(4,23,65,2)

key=lambda can be used to find the longest and shortest name in a list

In [24]:
names = ("Arya", "Samson", "Dora", "Tim", "Ollivander")

outputmax = max(names, key=lambda n: len(n))
outputmin = min(names, key=lambda n: len(n))

In [25]:
outputmax

'Ollivander'

In [26]:
outputmin

'Tim'

### Lowest playcount in a song list

In [21]:
songs = [
    {"title": "Happy Birthday", "playcount": 1},
    {"title": "Survive", "playcount": 8},
    {"title": "YMCA", "playcount": 99},
    {"title": "Toxic", "playcount": 31}
]

min(songs, key=lambda s: s['playcount'])

{'title': 'Happy Birthday', 'playcount': 1}

It's a dict, so you can just pluck one piece of data to display

In [22]:
min(songs, key=lambda s: s['playcount'])['title']

'Happy Birthday'

### Exercise 65: Extremes with min & max

In [ ]:
def extremes(thelist):
    return (min(thelist), max(thelist))

extremes((3,6,24,1,88))

## Maps

Format:

> `map(<lambda>, <iterable>)`

Run the lambda over each member of the iterable.

In [14]:
nums = [2, 4, 6, 8, 10]

doubles = map(lambda x:x*2, nums)

The map is iterable

In [15]:
for num in doubles:
    print(num)

4
8
12
16
20

but WOAH!… maps disappear after you use them the first time, unless you store them in a converted iterable variable (tuple, list).

In [16]:
tuple(doubles)

()

### String map example

In [6]:
people = ["Darcy", "Christina", "Dana", "Annabel"]

peeps = map(lambda name: name.upper(), people)

tuple(peeps)

('DARCY', 'CHRISTINA', 'DANA', 'ANNABEL')

### Exercise 62

In [2]:
def decrement_list(thelist):
    return list(map(lambda item: item-1, thelist))

decrement_list([1,2,3,4,5])

[0, 1, 2, 3, 4]

## Filters

Same as map but expects a conditional to remove elements from a list

Format:

`filter(<lambda>, <iterable>)`

### Filtering a number list

In [40]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

evens = list(filter(lambda x: x % 2 == 0, nums))

In [38]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
evens

[2, 4, 6, 8]

### Filtering a user list

In [31]:
assocs = [
    {
        "name": "Rob Kistner",
        "role": "admin",
        "title": "Art Director"
    },
    {
        "name": "Jeff Hastings",
        "role": "admin",
        "title": "Creative Director"
    },
    {
        "name": "Cindy Xiong",
        "role": "user",
        "title": "Graphic Designer"
    },
    {
        "name": "Marjan Samadi",
        "role": "user",
        "title": "Graphic Designer"
    }
]

admins = list(filter(lambda user: user["role"]=="admin", assocs))

users = list(filter(lambda user: user["role"]=="user", assocs))

In [28]:
admins

[{'name': 'Rob Kistner', 'role': 'admin', 'title': 'Art Director'},
 {'name': 'Jeff Hastings', 'role': 'admin', 'title': 'Creative Director'}]

In [26]:
users

[{'name': 'Cindy Xiong', 'role': 'user', 'title': 'Graphic Designer'},
 {'name': 'Marjan Samadi', 'role': 'user', 'title': 'Graphic Designer'}]

Return a new list with a string + each value in the array, but only if the value is less than 5 characters.

In [19]:
names = ["Lassie", "Colt", "Rusty"]

inst = list(
    map(
        lambda name: f"Your instructor is {name}",
        filter(lambda value: len(value) < 5, names)
    )
)

In [22]:
names

['Lassie', 'Colt', 'Rusty']

In [21]:
inst

['Your instructor is Colt']

You also could do the above with list comprehension:

In [17]:
[f"Your instructor is {name}" for name in names if len(name) < 5]

['Your instructor is Colt']

### Using assoc list above: showing uppercase of all admins

In [13]:
upperassocs = list(
    map(
        lambda user: user["name"].upper(),
        filter(lambda u: u["role"]=="admin", assocs)
    )
)

upperassocs

['ROB KISTNER', 'JEFF HASTINGS']

In [14]:
# or…
[user["name"].upper() for user in assocs if user["name"]=="admin"]

[]

## Exercise 63

In [4]:
def remove_negatives(nums):
    return list(filter(lambda num: num >= 0, nums))

In [5]:
remove_negatives([-1,3,4,-99])

[3, 4]

In [6]:
remove_negatives([-7,0,1,2,3,-1,4,5])

[0, 1, 2, 3, 4, 5]

In [7]:
remove_negatives([50,60,70])

[50, 60, 70]