# Python Language Features

## Data Types

***

### Boolean (bool)

True or False

>```
myval = True
```


### Integer (int)

A number without decimals

>```
myval = 5
```


### String (str)

A sequence of unicode characters

>```
myval = "An now I'm a string"
```

### List (list)

An ordered sequence of other data types

>```
mylist1 = [0, 23, 1, 0.8, 13]
mylist2 = ["Michael", "Cindy", "Andy", "Joan"]
```

### Dictionaries

Unordered collection of key/value pairs

>```
me = {
    "firstname": "Rob",
    "lastname": "Kistner",
    "age": 50,
    "birthyear": 1969,
    "interests": ["photography", "wine", "film"]
}
```

### Tuples (tuple)

An immutable iterable sequence of values

>```
mytuple = ("coffee", "tea", "beer")
```

## Conditionals: `if`

In [39]:
name = "Jon Snow"

if name == "Arya Stark":
    print("A girl needs to be an assassin")
elif name == "Jon Snow":
    print("Go be a wildling")
else:
    print("Carry on")

Go be a wildling

## Testing Comparitors

In [40]:
3 == 3

True

In [41]:
3==3 and 5==5

True

In [42]:
(3==3) and (5==5)

True

In [43]:
(3 is 3) and (5 is 5)

True

In [44]:
(3 is 3) and (5 is 5)

True

single true value always throws true

In [45]:
1 == True

True

## Comparison operators

`==` : equals

In [46]:
3 == 3

True

`!=` : not equal to

In [47]:
1 != 3

True

`>` : greater than

In [48]:
3 > 1

True

`<` : less than

In [49]:
1 < 3

True

`>=` : greater than or equal to

In [50]:
4 >= 3

True

`<=` : less than or equal to

In [51]:
2 <= 3

True

Logical `and` and `or`

In [52]:
1 and 1

1

In [53]:
(8==1) or (8==8)

True

In [54]:
-1 is not 1

True

### `==` vs `is`

`==` checks the values themselves

`is` checks if the variables take up the same place in memory

In [55]:
a = [1,2,3]
b = [1,2,3]

In [56]:
a == b

True

In [57]:
a is b

False

## Docstrings

Note the spacing, it's absolute to what you put in the docstring

In [58]:
def say_hello():

    """
    A simple function to say hello.
    It'll obey all the formatting you 
    put in the string itself including
    spaces at the beginning.
    """

    return "Hello!"

Using the keyword `<function>.__doc__` will show the docstring definied in a function. It's important to define it at the top of the function.

In [59]:
print("--- before printing __doc__ ---")
print(say_hello.__doc__)
print("--- after printing __doc__ ---")

--- before printing __doc__ ---

    A simple function to say hello.
    It'll obey all the formatting you
    put in the string itself including
    spaces at the beginning.

--- after printing __doc__ ---

In [60]:
print([].pop.__doc__)

Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.

## Variables

## Multiple assignment

You can actually assign multiple variables at once like the below, even though that may not be clear.

In [61]:
all, at, once = 5, 10, 15

In [62]:
print(all)

5

In [63]:
print(at)

10

In [64]:
print(once)

15

## Naming Conventions

Just printing out some variable naming conventions

Most **VARIABLES** should be **snake_case**

> `the_first_variable = "Hi there"`

Most **VARIABLES** should be lowercase

> `damnedright = 3`


...except **CONSTANTS**, which should be all **UPPERCASE**

> `PI = 3.1415`

Class names should be UpperCamelCase

> `class UserInfo`

Private variables should be surrounded with dunders

> `__private_info__ = 5.93817`

## Input

To get user input, just use the `input()` command.

In [65]:
answer = input("What's your favorite color? ")

f"you said {answer}"

'you said purple'

## Weird Math Operations

* Exponentiation (**)
* Modulo (%)
* Integer Division (//)

### Exponentiation

To the power of

65536: because that's 4 to the 8th power

In [66]:
4 ** 8

65536

### Modulo

Divides first number by second number and returns the remainder. Works with integer or float.

1: because 7 divided by 3 is 2 with remainder of 1

In [67]:
7 % 3

1

Example of practical use, figuring out if numbers are odd or even

True: it's an even number, now do something

In [68]:
8 % 4 == 0

True

### Integer Division

Always returns a float

In [69]:
10/3

3.3333333333333335

Returns an int

In [70]:
10//3

3