# Python Language Features

## Data Types

***

### Boolean (bool)

True or False

>```
myval = True
```


### Integer (int)

A number without decimals

>```
myval = 5
```


### String (str)

A sequence of unicode characters

>```
myval = "An now I'm a string"
```

### List (list)

An ordered sequence of other data types

>```
mylist1 = [0, 23, 1, 0.8, 13]
mylist2 = ["Michael", "Cindy", "Andy", "Joan"]
```

### Dictionaries

Unordered collection of key/value pairs

>```
me = {
    "firstname": "Rob",
    "lastname": "Kistner",
    "age": 50,
    "birthyear": 1969,
    "interests": ["photography", "wine", "film"]
}
```

### Tuples (tuple)

An immutable iterable sequence of values

>```
mytuple = ("coffee", "tea", "beer")
```

### Sets

* Are just like formal mathematical sets
* Cannot have duplicate values
* Are not ordered
* Cannot access items by index

In [27]:
banner("writing a set")
# ----------------------------------------
s = {1, 4, 5}
print("setting just like a dict without key/vals: {}".format(s))

s = set({1, 4, 5, 5, 5})
print("using set function plus duplicates: {}".format(s))

s = {1, 4, 5, "a", "b", True, 8.382}
print("doesn't have to all be the same type: {}".format(s))


banner("Can use all the logical list methods…")
# ----------------------------------------
print("for loop…")
for thing in s:
    print(thing)


banner("Can get unique vals in a list by casting it to a set")
# ----------------------------------------
city_list = ["Oak Park", "Lombard", "Chicago", "Naperville", "Lisle", "Lombard", "Wheaton", "Chicago"]
print("The list: {}".format(city_list))
bl()
city_list_set = set(city_list)
print("Uniques as a set: {}".format(list(city_list_set)))
bl()
print("Or just get the unique number of items using set: {}".format(len(set(city_list))))

banner("add()")
# ----------------------------------------
s = set([1,2,3])
s.add(4)
print(s)
s.add(4)
print(s)

banner("remove()")
# ----------------------------------------
s = {1, 2, 3, 4, 5, 6}
print(s)
bl()
s.remove(3)
print(s)

**************************************************
*                                                *
*    SETS                                        *
*    --------------------                        *
*    • are just like formal mathematical sets    *
*    • cannot have duplicate values              *
*    • are not ordered                           *
*    • cannot access items by index              *
*                                                *
**************************************************


---------------------
    writing a set
---------------------

setting just like a dict without key/vals: {1, 4, 5}
using set function plus duplicates: {1, 4, 5}
doesn't have to all be the same type: {1, 4, 5, 8.382, 'a', 'b'}

---------------------------------------------
    Can use all the logical list methods…
---------------------------------------------

for loop…
1
4
5
8.382
a
b

------------------------------------------------------------
    Can get unique vals in a list by casting it to a set
------------------------------------------------------------

The list: ['Oak Park', 'Lombard', 'Chicago', 'Naperville', 'Lisle', 'Lombard', 'Wheaton', 'Chicago']

Uniques as a set: ['Chicago', 'Lombard', 'Lisle', 'Wheaton', 'Naperville', 'Oak Park']

Or just get the unique number of items using set: 6

-------------
    add()
-------------

{1, 2, 3, 4}
{1, 2, 3, 4}

----------------
    remove()
----------------

{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

### discard()

is essentially `remove()` but doesn't throw an error if an item in not in the set.

In [28]:
s = {1, 2, 3, 4, 5, 6, 7}

s

{1, 2, 3, 4, 5, 6, 7}

s.discard(10): 10 is not in the set…

In [30]:
s.discard(10)

s

'after discard(10), which is not in the set: {1, 2, 3, 4, 5, 6, 7}'

### Sets: copy()

In [24]:
s = {1, 2, 3}

s2 = s.copy()

s

{1, 2, 3}

In [25]:
s2

{1, 2, 3}

In [26]:
s is s2

False

### Sets: clear()

In [19]:
s = {1, 2, 3}

s

{1, 2, 3}

In [22]:
s.clear()

s

set()

### Teaching classes example

Two sets of students for two classes, what is unique…

In [11]:
math_students = {"Matt", "Helen", "Prashant", "James", "Aparna"}

biology_students = {"Jane", "Matt", "Charlotte", "Mesut", "Oliver", "James"}

### Union

In [17]:
math_students | biology_students

{'Aparna',
 'Charlotte',
 'Helen',
 'James',
 'Jane',
 'Matt',
 'Mesut',
 'Oliver',
 'Prashant'}

### Intersection

In [16]:
math_students & biology_students

{'James', 'Matt'}

## Conditionals: `if`

In [52]:
name = "Jon Snow"

if name == "Arya Stark":
    print("A girl needs to be an assassin")
elif name == "Jon Snow":
    print("Go be a wildling")
else:
    print("Carry on")

Go be a wildling

## Testing Comparitors

In [49]:
3 == 3

True

In [47]:
3==3 and 5==5

True

In [45]:
(3==3) and (5==5)

True

In [43]:
(3 is 3) and (5 is 5)

True

In [41]:
(3 is 3) and (5 is 5)

True

single true value always throws true

In [39]:
1 == True

True

## Comparison operators

`==` : equals

In [35]:
3 == 3

True

`!=` : not equal to

In [31]:
1 != 3

True

`>` : greater than

In [29]:
3 > 1

True

`<` : less than

In [27]:
1 < 3

True

`>=` : greater than or equal to

In [25]:
4 >= 3

True

`<=` : less than or equal to

In [ ]:
2 <= 3

Logical `and` and `or`

In [18]:
1 and 1

1

In [19]:
(8==1) or (8==8)

True

In [20]:
-1 is not 1

True

### `==` vs `is`

`==` checks the values themselves

`is` checks if the variables take up the same place in memory

In [4]:
a = [1,2,3]
b = [1,2,3]

In [9]:
a == b

True

In [6]:
a is b

False

## Docstrings

Note the spacing, it's absolute to what you put in the docstring

In [67]:
def say_hello():

    """
    A simple function to say hello.
    It'll obey all the formatting you 
    put in the string itself including
    spaces at the beginning.
    """

    return "Hello!"

Using the keyword `<function>.__doc__` will show the docstring definied in a function. It's important to define it at the top of the function.

In [70]:
print("--- before printing __doc__ ---")
print(say_hello.__doc__)
print("--- after printing __doc__ ---")

--- before printing __doc__ ---

    A simple function to say hello.
    It'll obey all the formatting you
    put in the string itself including
    spaces at the beginning.

--- after printing __doc__ ---

In [69]:
print([].pop.__doc__)

Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.

## Variables

## Multiple assignment

You can actually assign multiple variables at once like the below, even though that may not be clear.

In [13]:
all, at, once = 5, 10, 15

In [10]:
print(all)

5

In [11]:
print(at)

10

In [12]:
print(once)

15

## Naming Conventions

Just printing out some variable naming conventions

Most **VARIABLES** should be **snake_case**

> `the_first_variable = "Hi there"`

Most **VARIABLES** should be lowercase

> `damnedright = 3`


...except **CONSTANTS**, which should be all **UPPERCASE**

> `PI = 3.1415`

Class names should be UpperCamelCase

> `class UserInfo`

Private variables should be surrounded with dunders

> `__private_info__ = 5.93817`

## Input

To get user input, just use the `input()` command.

In [8]:
answer = input("What's your favorite color? ")

f"you said {answer}"

'you said purple'

## reversed()

Returns a reversed iterator

`reversed()` normally returns a `reversed` object so you'd have to convert it or loop through it.

In [6]:
output = reversed("hello")

output

In [7]:
list(output)

['o', 'l', 'l', 'e', 'h']

In [4]:
output = reversed([1,2,3,4])

for item in output:
    print(item)

4
3
2
1

Reversed could be useful if you're working with something that's already an iterator instead of the usual `<string>.reverse()` or 
`[::-1]` `slice` methods.