# Lists


## Qualities of a list in Python:

* Every item has an index
* List starts at 0
* There's an order to the items

## Creating Lists

In [16]:
tasks = ['a', 1, 45, True, 6.778]

Getting list length with `len()`

In [17]:
len(tasks)

5

Turning a range into a list

In [14]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
friends = ['Ashley', 'Matt', 'Michael']
colors = ['purple', 'teal', 'orange']

Getting a single list value

In [9]:
friends[0]

'Ashley'

In [10]:
# Error: list index out of range
friends[3]

IndexError: list index out of range

Getting a single list value with negative index

In [11]:
friends[-1]

'Michael'

In [12]:
friends[-3]

'Ashley'

Check if value in a list

In [18]:
"Ashley" in friends

True

## Slices

Specify `[<start>:<end>:<step>]` to get portions of a list back in list format.

### List for all examples below

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### START param

In [104]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
numbers[3:]

[4, 5, 6, 7, 8, 9, 10]

In [106]:
numbers[9:]

[10]

Out of range, returns empty

In [107]:
numbers[12:]

[]

### Returns the exact number of items from the end

In [108]:
numbers[-3:]

[8, 9, 10]

### Returns the original list

In [109]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Makes a copy of the list

In [110]:
numbers[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### END param

In [111]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
numbers[:2]

[1, 2]

In [113]:
numbers[:4]

[1, 2, 3, 4]

### START & END params

In [114]:
numbers = list(range(1, 11))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
numbers[1:3]

[2, 3]

In [116]:
numbers[2:-3]

[3, 4, 5, 6, 7]

### STEP param

In [117]:
numbers = list(range(1, 11))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Index 1 to the end, every other item (step 2)

In [118]:
numbers[1::2]

[2, 4, 6, 8, 10]

### From start to end, step 3

In [119]:
numbers[::3]

[1, 4, 7, 10]

### Negative steps reverse the order

Start at index 4, count back 1 at a time

In [120]:
numbers[3::-1]

[4, 3, 2, 1]

* Start at end (first empty :)
* Go before index 4 (:3)
* Backward by 1 (-1)

In [121]:
numbers[:3:-1]

[10, 9, 8, 7, 6, 5]

* Start at index 3 (2:)
* No end (::)
* Backward (-1)

In [122]:
numbers[2::-1]

[3, 2, 1]

## Tricks with slices

In [123]:
numbers = list(range(1, 11))

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Reverse the list

In [124]:

numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [125]:
numbers[1:3] = ['a', 'b', 'c']

numbers

[1, 'a', 'b', 'c', 4, 5, 6, 7, 8, 9, 10]

## Lists: Swapping

Swapping items in a list, similar to javascript destructuring.

In [129]:
names = ['James', 'Michelle']

In [128]:
names[0], names[1] = names[1], names[0]

names

['Michelle', 'James']

## Lists: Nested

### When would you use nested Lists?

* Any time you have a matrix of some type storing data
* Games, Mazes
* Rows & columns for visualizations, tabulation, grouping data

**NOTE on nested list comprehension:** this can get pretty darned difficult, so try working from outside in and it could help you visualize the result in a better way.

In [1]:
nested_list = [ [1,2,3], [4,5,6], [7,8,9] ]
coords = [ [10.423, 9.123], [37.212, -14.092], [37.212, -14.092], [21.367, 32.572] ]

In [2]:
nested_list[0][1]

2

In [3]:
nested_list[2][1]

8

In [4]:
nested_list[-1][2]

9

### Printing values requires 2 loops…

In [6]:
# TODO: This one doesn't work !
# expected(
#     """Nested list comprehension:
#     [[print(val) for val in l] for l in nested_list]
#     """,
#     [[print(val) for val in l] for l in nested_list]
# )

In [7]:
for l in nested_list:
    for val in l:
        print(val)


banner("Creating a nested list via comprehension")
# ----------------------------------------
board = [[num for num in range(1, 4)] for val in range(1, 4)]
print(board)

banner("Creating a tic-tac-toe board via comprehension")
# ----------------------------------------
tictactoe = [["X" if num%2 != 0 else "O" for num in range(1, 4)] for val in range(1,4)]
print(tictactoe)

banner("Exercise 24: List Exercise 5: Nested with Comprehension")
# ----------------------------------------
answer = [ [num for num in range(0, 3)] for nums in range(0, 3) ]
print(answer)

1
2
3
4
5
6
7
8
9

NameError: name 'banner' is not defined

### Exercise 25

One more nested list comprehension exercise

In [ ]:
[ [num for num in range(0, 10)] for nums in range(0, 10) ]

## Lists: Iterating

In [131]:
from modules.printutils import *

numbers = [4,6,2,9,7,10]
colors = ['purple', 'teal', 'magenta', 'crimson', 'emerald']


banner('The lists...')
# ----------------------------------------
var_dump('numbers', numbers)
var_dump('colors', colors)


banner('For list')
# ----------------------------------------
for num in numbers:
    print(num)

print()

for color in colors:
    print(color)

print()

for num in numbers:
    print(num*2)


banner('While loop')
# ----------------------------------------
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

print()

index = 0
while index < len(colors):
    print(f"{index}: {colors[index]}")
    index += 1


banner('Exercise...')
# ----------------------------------------
sounds = ["super", "cali", "fragil", "istic", "expi", "ali", "docious"]

# Define your code below:
result = ''
idx = 0
while idx < len(sounds):
    result += sounds[idx]
    idx +=1
print(result.upper())

--------------------
    The lists...
--------------------

numbers: [4, 6, 2, 9, 7, 10]
colors: ['purple', 'teal', 'magenta', 'crimson', 'emerald']

----------------
    For list
----------------

4
6
2
9
7
10

purple
teal
magenta
crimson
emerald

8
12
4
18
14
20

------------------
    While loop
------------------

4
6
2
9
7
10

0: purple
1: teal
2: magenta
3: crimson
4: emerald

-------------------
    Exercise...
-------------------

SUPERCALIFRAGILISTICEXPIALIDOCIOUS

## Lists: Methods

In [181]:

from modules.printutils import *

numbers = [5, 6, 7, 8, 9, 10]
first_list = [1, 2, 3, 4]
words = ['coding', 'is', 'fun']


banner('The Lists')
# ----------------------------------------
print(f'numbers: {numbers}')
print(f'first_list: {first_list}')
print(f'words: {words}')


banner('''append()
Add an item to the list''')
# ----------------------------------------
words.append('isn\'t')
words.append('it')
print(f"words.append('isn\\\'t'): {words}")


banner('''extend()
Add a list to a list''')
# ----------------------------------------
numbers.extend([5, 8, 10, 6, 5])
print(f"numbers.extend([5, 8, 10, 6, 5]): {numbers.extend([5, 8, 10, 6, 5])}")


banner('''insert(<index>, <list item>)
Add an item to a list at a certain position''')
# ----------------------------------------
numbers.insert(2, -4)
print(f"numbers.insert(2, -4): {numbers}")


banner('''index()
Shows index location of passed argument
''')
# ----------------------------------------
print(f'numbers.index(6): {numbers.index(6)}')
print(f'numbers.index(10): {numbers.index(10)}')


banner('index: with start and end...')
# ----------------------------------------
print(f'numbers.index(5): {numbers.index(5)}')
print(f'numbers.index(7, 1): {numbers.index(7, 1)}')
print(f'numbers.index(8, 2, 5): {numbers.index(8, 2, 5)}')


banner('''count()
Shows number of times result is in list''')
# ----------------------------------------
print(f'numbers.count(10): {numbers.count(10)}')


banner('''reverse()
Shows list in reverse. This is a function 
that mutates the original list.''')
# ----------------------------------------
first_list.reverse()
print(f'first_list.reverse(): {first_list}')


banner('''sort()
Sorts list, mutates the original list.''')
# ----------------------------------------
first_list.sort()
print(f'first_list.sort(): {first_list}')
first_list.append(-2)
first_list.sort()
print(f'first_list.append(-2) then sort(): {first_list}')


banner('''join()
String method, joins list members together as a string''')
# ----------------------------------------
print(f"' '.join(words): {' '.join(words)}")
print(f"''.join(words): {''.join(words)}")
print(f"'-'.join(words): {'-'.join(words)}")
print(f"', '.join(words): {', '.join(words)}")


banner('''clear()
Remove all items from a list. Mutates the original.''')
# ----------------------------------------
first_list.clear()
print(f'first_list: {first_list}')


banner('''pop()
Remove an item at specified index and return it.
Mutates the original.''')
# ----------------------------------------
first_list = [1, 2, 3, 4]
print("if there's no index specified, it'll just remove the last item")
print(f'first_list.pop(): {first_list.pop()}')
print(f'first_list: {first_list}')
print(f'first_list.pop(1): {first_list.pop(1)}')
print(f'first_list: {first_list}')


banner('''remove()
Provide a value to the remove method to have it
remove the first instance of the value in a list''')
# ----------------------------------------
first_list = [1, 2, 3, 4, 4, 4]
print(f'first_list: {first_list}')
first_list.remove(2)
print(f'first_list.remove(2): {first_list}')
first_list.remove(4)
print(f'first_list.remove(4): {first_list}')


banner('Exercise...')
# -----------------------------------------
# Create a list called instructors
# Add the following strings to the instructors list 
    # "Colt"
    # "Blue"
    # "Lisa"

instructors = []
instructors.append('Colt')
instructors.append('Blue')
instructors.append('Lisa')
print('Added using append()')
print(instructors)

-----------------
    The Lists
-----------------

numbers: [5, 6, 7, 8, 9, 10]
first_list: [1, 2, 3, 4]
words: ['coding', 'is', 'fun']

-------------------------------
    append()
    Add an item to the list
-------------------------------

words.append('isn\'t'): ['coding', 'is', 'fun', "isn't", 'it']

----------------------------
    extend()
    Add a list to a list
----------------------------

numbers.extend([5, 8, 10, 6, 5]): None

---------------------------------------------------
    insert(<index>, <list item>)
    Add an item to a list at a certain position
---------------------------------------------------

numbers.insert(2, -4): [5, 6, -4, 7, 8, 9, 10, 5, 8, 10, 6, 5, 5, 8, 10, 6, 5]

-----------------------------------------------
    index()
    Shows index location of passed argument
-----------------------------------------------

numbers.index(6): 1
numbers.index(10): 6

------------------------------------
    index: with start and end...
------------------------------------

numbers.index(5): 0
numbers.index(7, 1): 3
numbers.index(8, 2, 5): 4

-----------------------------------------------
    count()
    Shows number of times result is in list
-----------------------------------------------

numbers.count(10): 3

-------------------------------------------------
    reverse()
    Shows list in reverse. This is a function
    that mutates the original list.
-------------------------------------------------

first_list.reverse(): [4, 3, 2, 1]

----------------------------------------------
    sort()
    Sorts list, mutates the original list.
----------------------------------------------

first_list.sort(): [1, 2, 3, 4]
first_list.append(-2) then sort(): [-2, 1, 2, 3, 4]

--------------------------------------------------------------
    join()
    String method, joins list members together as a string
--------------------------------------------------------------

' '.join(words): coding is fun isn't it
''.join(words): codingisfunisn'tit
'-'.join(words): coding-is-fun-isn't-it
', '.join(words): coding, is, fun, isn't, it

-----------------------------------------------------------
    clear()
    Remove all items from a list. Mutates the original.
-----------------------------------------------------------

first_list: []

--------------------------------------------------------
    pop()
    Remove an item at specified index and return it.
    Mutates the original.
--------------------------------------------------------

if there's no index specified, it'll just remove the last item
first_list.pop(): 4
first_list: [1, 2, 3]
first_list.pop(1): 2
first_list: [1, 3]

--------------------------------------------------------
    remove()
    Provide a value to the remove method to have it
    remove the first instance of the value in a list
--------------------------------------------------------

first_list: [1, 2, 3, 4, 4, 4]
first_list.remove(2): [1, 3, 4, 4, 4]
first_list.remove(4): [1, 3, 4, 4]

-------------------
    Exercise...
-------------------

Added using append()
['Colt', 'Blue', 'Lisa']

### Added using extend()

In [186]:
instructors = []

instructors.extend(['Colt', 'Blue', 'Lisa'])

instructors

['Colt', 'Blue', 'Lisa']

## List Comprehension

### Things to remember in list comprehension

* Basic pattern…

`[<expression> for <iter variable> in <list>]`
  
* When using an if statement, the if needs to go at the end, example…

`[num for num in numlist if num%2 == 0]`

The lists:

In [180]:
name = "colt"

nums = [1, 2, 3, 4, 5, 6]

friends = ["ashley", "matt", "michael"]

In [177]:
[char.upper() for char in name]

['C', 'O', 'L', 'T']

In [173]:
[(friend[0].upper() + friend[1:]) for friend in friends]

['Ashley', 'Matt', 'Michael']

In [171]:
[num*10 for num in range(1,6)]

[10, 20, 30, 40, 50]

In [169]:
[bool(val) for val in [1, [], '']]

[True, False, False]

### Convert integer list to string list

In [166]:
[str(num) for num in [1,2,3,4,5]]

['1', '2', '3', '4', '5']

Evens

In [162]:
[num for num in nums if num % 2 == 0]

[2, 4, 6]

Odds

In [163]:
[num for num in nums if num % 2 != 0]

[1, 3, 5]

### A complex if/else

Double number if even, or half if it's odd…

In [159]:
[num*2 if num%2 == 0 else num/2 for num in nums]

[0.5, 4, 1.5, 8, 2.5, 12]

### Strip out vowels from a string…

In [156]:
with_vowels = "This is so much fun"

''.join(char for char in with_vowels if char not in "aeiou")

'Ths s s mch fn'

### Exercise 20: List Comprehension

In [150]:
[char[0] for char in ["Elie", "Tim", "Matt"]]

['E', 'T', 'M']

In [149]:
[num for num in [1,2,3,4,5,6] if num%2 == 0]

[2, 4, 6]

### Exercise 21: More List Comprehension

In [151]:
[num for num in [3,4,5,6] if num in [1,2,3,4]]

[3, 4]

In [152]:
[name[::-1].lower() for name in ["Elie", "Tim", "Matt"]]

['eile', 'mit', 'ttam']

### Exercise 22: Another List Comprehension Exercise

In [153]:
[num for num in range(1, 101) if num%12 == 0]

[12, 24, 36, 48, 60, 72, 84, 96]

### Exercise 23: List Exercises 4

In [154]:
[char for char in "amazing" if char not in 'aeiou']

['m', 'z', 'n', 'g']