# zip

Makes an iterator that aggregates elements from each of the iterables.

zipping two simple lists

In [46]:
list1 = [1,2,3]
list2 = [4,5,6]
thelists = zip(list1, list2)

Zipped

In [47]:
for item in thelists:
    print(item)

(1, 4)
(2, 5)
(3, 6)

Stops at shortest iterable

In [48]:
list1 = [1,2,3,4,5]
list2 = [6,7,8]

thelists = zip(list1, list2)

for item in thelists:
    print(item)

(1, 6)
(2, 7)
(3, 8)

You're not limited to two iterables

In [49]:
list1 = [1,2,3]
list2 = [6,7,8]
list3 = ["Hi", "Howareya", "Howdy"]

thelists = zip(list1, list2, list3)

for item in thelists:
    print(item)

(1, 6, 'Hi')
(2, 7, 'Howareya')
(3, 8, 'Howdy')

The star operator will unpack a list that's zipped: `zip(*listoflists)`

In [50]:
five_by_two = [(0,1), (1,2), (2,3), (3,4), (4,5)]

list(zip(*five_by_two))

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

### Final grades example

In [51]:
midterms = [80, 91, 78]
finals = [98, 89, 53]
students = ['dan', 'ang', 'kate']

Goal: make a dict that looks likeâ€¦

`final_grades = {'dan': 98, 'ang': 91, 'kate': 78}`

Comprehension with max

In [52]:
{t[0]:max(t[1], t[2]) for t in zip(students, midterms, finals)}

{'dan': 98, 'ang': 91, 'kate': 78}

Zip & map method

In [53]:

final_grades = dict(
    zip(
        students,
        map(
            lambda pair: max(pair),
            zip(midterms, finals)
        )
    )
)

final_grades

{'dan': 98, 'ang': 91, 'kate': 78}

zip & map averging method

In [54]:
final_grades = dict(
    zip(
        students,
        map(
            lambda pair: ((pair[0] + pair[1])/2),
            zip(midterms, finals)
        )
    )
)

final_grades

{'dan': 89.0, 'ang': 90.0, 'kate': 65.5}

### Exercise 69

In [55]:
def interleave(str1, str2):
    """
    return a string of interleaved 2 strings
    """
    return ''.join(''.join(x) for x in zip(str1, str2))

interleave("hi", "mq")

'hmiq'

### Exercise 70

* `triple_and_filter([1,2,3,4])` should give us `[12]`
* `triple_and_filter([6,8,10,12])` should give us `[24,36]`

In [56]:
def triple_and_filter(lst):
    return list(filter(lambda x: x % 4 == 0, map(lambda x: x*3, lst)))

triple_and_filter([1,2,3,4])

[12]

In [57]:
triple_and_filter([6,8,10,12])

[24, 36]

### Exercise 70

In [58]:
def extract_full_name(lst):
    return list(map(lambda val: f"{val['first']} {val['last']}", lst))

names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]

extract_full_name(names)

['Elie Schoppik', 'Colt Steele']