## Sets

* Are just like formal mathematical sets
* Cannot have duplicate values
* Are not ordered
* Cannot access items by index

#### Creating a set

You just set it just like a dict without keys/vals…

In [62]:
{1, 4, 5}

{1, 4, 5}

duplicates get removed…

In [60]:
set({1, 4, 5, 5, 5})

{1, 4, 5}

values don't have to all be the same type…

In [61]:
{1, 4, 5, "a", "b", True, 8.382}

{1, 4, 5, 8.382, 'a', 'b'}

#### Can use all the logical list methods

Looping through the set with a for loop

In [ ]:
for thing in s:
    print(thing)

Can get unique vals in a list by casting it to a set

In [65]:
city_list = ["Oak Park", "Lombard", "Chicago", "Naperville", "Lisle", "Lombard", "Wheaton", "Chicago"]

city_list_set = set(city_list)

list(city_list_set)

['Naperville', 'Lisle', 'Oak Park', 'Wheaton', 'Chicago', 'Lombard']

Or just get the unique number of items using set

In [47]:
len(set(city_list))

6

### add()

In [44]:
s = set([1,2,3])

s.add(4)

s

{1, 2, 3, 4}

In [45]:
s.add(4)

s

{1, 2, 3, 4}

### remove()

In [37]:
s = {1, 2, 3, 4, 5, 6}

s

{1, 2, 3, 4, 5, 6}

In [38]:
s.remove(3)

s

{1, 2, 4, 5, 6}

### discard()

is essentially `remove()` but doesn't throw an error if an item in not in the set.

In [ ]:
s = {1, 2, 3, 4, 5, 6, 7}

s

s.discard(10): 10 is not in the set…

In [ ]:
s.discard(10)

s

### copy()

In [26]:
s = {1, 2, 3}

s2 = s.copy()

s

{1, 2, 3}

In [27]:
s2

{1, 2, 3}

In [28]:
s is s2

False

### Sets: clear()

In [29]:
s = {1, 2, 3}

s

{1, 2, 3}

In [30]:
s.clear()

s

set()

### Teaching classes example

Two sets of students for two classes, what is unique…

In [31]:
math_students = {"Matt", "Helen", "Prashant", "James", "Aparna"}

biology_students = {"Jane", "Matt", "Charlotte", "Mesut", "Oliver", "James"}

### Union

In [32]:
math_students | biology_students

{'Aparna',
 'Charlotte',
 'Helen',
 'James',
 'Jane',
 'Matt',
 'Mesut',
 'Oliver',
 'Prashant'}

### Intersection

In [33]:
math_students & biology_students

{'James', 'Matt'}

## reversed()

Returns a reversed iterator

`reversed()` normally returns a `reversed` object so you'd have to convert it or loop through it.

In [66]:
output = reversed("hello")

output

In [68]:
list(output)

[]

In [69]:
output = reversed([1,2,3,4])

for item in output:
    print(item)

4
3
2
1

Reversed could be useful if you're working with something that's already an iterator instead of the usual `<string>.reverse()` or 
`[::-1]` `slice` methods.

### Set Comprehension

Create like a dict without k,v

In [2]:
newset = {x**2 for x in range(10)}

newset

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [1]:
newset = {char.upper() for char in 'hello'}

newset

{'E', 'H', 'L', 'O'}

Example: Making a function to count unique vowels

In [3]:
def count_unique_vowels(s):
    return len({char for char in s if char in 'aeiou'})

count_unique_vowels('happenstance')

2

## Iterable Functions

### sorted()

Basic usage

In [23]:
more_numbers = [6,1,2,8]

more_numbers

In [19]:
sorted(more_numbers)

[1, 2, 6, 8]

In [20]:
f"note: it does not mutate the original: {more_numbers}"

'note: it does not mutate the original: [6, 1, 2, 8]'

In [21]:
sorted(more_numbers, reverse=True)

[8, 6, 2, 1]

Can accept a tuple…

In [24]:
more_numbers_tuple = (4,6,1,30,55,23)

sorted(more_numbers_tuple)

[1, 4, 6, 23, 30, 55]

Sorting dicts…

In [ ]:
associates = [
    {
        "firstname": "Rob",
        "lastname": "Kistner",
        "role": "admin",
        "title": "Art Director"
    },
    {
        "firstname": "Jeff",
        "lastname": "Hastings",
        "role": "admin",
        "title": "Creative Director",
        "color": "orange"
    },
    {
        "firstname": "Cindy",
        "lastname": "Xiong",
        "title": "Graphic Designer"
    },
    {
        "firstname": "Marjan",
        "lastname": "Samadi",
        "role": "user",
        "title": "Graphic Designer"
    }
]

This will sort by how many keys are present, not really what we're looking for…

In [6]:
sorted(associates, key=len)

[{'firstname': 'Cindy', 'lastname': 'Xiong', 'title': 'Graphic Designer'},
 {'firstname': 'Rob',
  'lastname': 'Kistner',
  'role': 'admin',
  'title': 'Art Director'},
 {'firstname': 'Marjan',
  'lastname': 'Samadi',
  'role': 'user',
  'title': 'Graphic Designer'},
 {'firstname': 'Jeff',
  'lastname': 'Hastings',
  'role': 'admin',
  'title': 'Creative Director',
  'color': 'orange'}]

This will sort by the user's last name…

In [7]:
sorted(
    associates, 
    key=lambda user: user['lastname']
)

[{'firstname': 'Jeff',
  'lastname': 'Hastings',
  'role': 'admin',
  'title': 'Creative Director',
  'color': 'orange'},
 {'firstname': 'Rob',
  'lastname': 'Kistner',
  'role': 'admin',
  'title': 'Art Director'},
 {'firstname': 'Marjan',
  'lastname': 'Samadi',
  'role': 'user',
  'title': 'Graphic Designer'},
 {'firstname': 'Cindy', 'lastname': 'Xiong', 'title': 'Graphic Designer'}]